@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 24px;
    font-family: arial;
    flex: 0 0 auto;
}
.actions {
    display: flex;
    gap: 10px;
    padding: 20px;
}
header button{
    padding: 5px;
}

/* BODY GRID */
#bookshelf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 10px;  
    padding: 20px;
    background-color: brown;
    flex: 1;
}

.counter {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.shelf {
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    background-color: burlywood;
    padding: 5px;
}

.book{
    background-color: red;
    font-size: 12px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.book::before {
    content: "";
    display: block;
    background: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}
.book-info {
    display: none;
    font-weight: bold;
    color: white;
    padding: 5px;
    position: absolute;
    z-index: 2;
    inset: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: anywhere;
    align-self: center;
    justify-self: center;
}
.book:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    z-index: 10;
}
.book:hover .book-info {
    display: block;
}
.book:hover::before {
    filter: blur(4px);
}

.delete-btn {
    display: none;
    position: absolute;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    justify-self:end;
}
.book:hover .delete-btn {
    display: block;
    z-index: 2;
}
/* MODAL */
.modal {
    display: none;
    position: fixed;
    background: lightblue;
    width: 50dvw;
    height: 50dvh;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal.active {
    display: flex;
}

